.is-blog-page {
    background-color: #fff;

    .title {
        text-align: left;

        @include mobile {
            margin-top: 52px;
        }

        &__text {
            position: relative;
            width: max-content;

            @include tablet {
                font-size: 64px;
            }

            &::before {
                @include absolute(-20px, -50px);
                @include size(53px, 70px);
                background: {
                    image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='70' viewBox='0 0 53 70' fill='none'%3E%3Cpath d='M8.95572 31.5528C2.93737 30.1664 -1.79816 10.0363 6.32607 4.03534C10.602 0.860239 18.8224 1.38943 21.8796 5.69698C24.1459 8.87208 22.831 13.2114 21.8796 16.3547C19.6669 23.6257 13.392 32.5689 8.95572 31.5528Z' stroke='%239DD162' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M20.6824 37.2362C17.4754 31.2035 30.3887 12.8938 41.2602 15.6773C47.7917 17.3495 52.9121 26.4514 50.881 32.4947C47.3427 42.6021 23.9642 43.4276 20.6824 37.2362Z' stroke='%239DD162' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M19.9923 48.4682C23.1351 43.7691 44.953 48.4682 46.3213 56.9986C47.0375 61.4543 42.2164 66.9685 37.2243 67.8998C27.1438 69.7731 17.0954 52.8181 19.9923 48.4682Z' stroke='%239DD162' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E");
                    repeat: no-repeat;
                };
                content: '';
            }
        }
    }

    .site-wrapper {
        overflow: visible;
    }
}
