.header {
    $this: &;
    @include absolute(0, null, null, 0);
    @include trs(top);
    background-color: var(--color-bg);
    margin-bottom: 48px;
    position: relative;
    width: 100%;
    z-index: 101;

    @include mobile {
        margin-bottom: 30px;
    }

    .is-home-page & {
        box-shadow: 0px 18px 12px -10px rgba(0, 0, 0, 0.04);

        @include tablet {
            box-shadow: none;
        }
    }

    &.is-fixed {
        position: fixed;
        top: 40px;
        transform: translateY(-40px);
    }

    &__inner {
        @include flex-all-sb;
        padding: 16px 0;
        position: relative;

        @include tablet {
            padding: 12px 0;
        }

        @include mobile {
            padding: 20px 0;
        }
    }

    &__logo {
        img {
            @include trs();

            @include on-event {
                transform: scale(1.05);
            }
        }
    }

    &__nav {
        @include tablet {
            display: none;
        }

        .is-opened & {
            @include tablet {
                display: block;
            }
        }
    }

    &__buttons {
        @include flex-v-center;
        gap: 0 40px;

        @include tablet {
            margin-right: 74px;
        }

        @include mobile {
            display: none;
        }
    }

    &__buttons-icon {
        @include size(16px);
        display: inline-flex;
        margin-right: 8px;
    }

    &__menu {
        display: none;

        @include tablet {
            @include absolute(50%, 0);
            @include trs();
            cursor: pointer;
            display: block;
            overflow: hidden;
            transform: translateY(-50%);
        }

        &.is-opened {
            overflow: visible;
            z-index: 10;
        }
    }

    &__hamburger {
        @include flex-all-center;
        @include size(37px);
        background-color: $color-black;
        border-radius: 10px;
        flex-direction: column;
    }

    &__bar {
        @include tablet {
            @include trs();
            @include size(20px, 2px);
            background-color: $color-white;
            border-radius: 6px;
            margin-bottom: 4px;

            .is-opened & {
                margin: -1px;

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__hamburger-icon {
        @include font(var(--typo-1), 16px, var(--fw-normal));
        color: var(--color-light-grey);
        display: none;
        position: relative;

        @include tablet {
            @include absolute(50%, 0);
            display: inline-flex;
            transform: translateY(-50%);
        }

        &::before {
            @include trs;
            @include absolute(50%, -25px);
            @include size(14px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='14' viewBox='0 0 7 14' fill='none'%3E%3Cpath d='M5.99834 7L1 13.0001' stroke='%23AFB2B2' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M5.99834 7.00008L1 1' stroke='%23AFB2B2' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';
            margin-top: 1px;
            transform: translateY(-50%);
        }
    }
}
