.hero {
    margin: 85px 0 130px;

    @include tablet {
        margin: 85px 0 140px;
    }

    @include mobile {
        margin: 30px 0 100px;
    }

    &__container {
        align-items: flex-start;
        display: grid;
        gap: 0 100px;
        grid-template-columns: 572px 428px;

        @include tablet {
            gap: 0 60px;
            grid-template-columns: 372px 320px;
            justify-content: center;
        }

        @include mobile {
            grid-template-columns: auto;
        }
    }

    .title {
        position: relative;
        text-align: left;
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 23px;
        }

        @include mobile {
            margin-bottom: 32px;
        }

        &::before {
            @include absolute(-20px, 150px);
            @include size(17px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8.5' fill='%239DD162'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';

            @include tablet {
                right: 90px;
            }

            @include mobile {
                @include absolute(-20px, 20px);
                @include size(33px);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='31' viewBox='0 0 33 31' fill='none'%3E%3Cpath d='M20.2749 22.3736C22.4959 21.4088 24.0065 19.4212 23.9535 17.6146C23.9015 15.015 20.6663 13.5527 18.2281 13.82C16.9315 14.002 15.6928 14.6279 14.6785 15.6136C13.6643 16.5992 12.9232 17.8972 12.5548 19.3333C11.574 23.4308 14.6765 27.048 17.1655 28.4453C19.0348 29.4159 21.1638 29.6592 23.2377 29.1393C25.3116 28.6194 27.2204 27.364 28.6817 25.5585C32.2082 21.0134 30.7594 14.6272 30.674 14.2956C28.645 5.91179 17.0227 0.967384 1.81469 1.66239' stroke='%2320AFDE' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
            }
        }

        &__text {
            span {
                display: inline-flex;
                position: relative;

                &::before {
                    @include absolute(null, null, -20px, 0);
                    @include size(100%, 25px);
                    background: {
                        image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='236' height='25' viewBox='0 0 236 25' fill='none'%3E%3Cpath d='M3 12.1442C54.2588 5.0026 106.013 2.03585 157.752 3.27324C184.237 3.91087 209.368 5.61652 233 8.05544' stroke='%23FFBE18' stroke-width='5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M27.8354 21.7804C92.0871 10.729 157.689 9.9784 222.176 19.5566' stroke='%23FFBE18' stroke-width='5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
                        repeat: no-repeat;
                    };
                    content: '';

                    @include tablet {
                        bottom: -25px;
                        background-size: 100%;
                    }
                }
            }
        }
    }

    &__picture {
        @include size(428px);
        background-color: var(--color-bg);
        border-radius: 28px;
        box-shadow: 0px 0px 114px 0px rgba($color-black, 0.08) inset;
        position: relative;

        @include tablet {
            @include size(300px);
        }

        @include mobile {
            @include flex-h-center;
            @include size(auto);
            background-color: transparent;
            box-shadow: none;
            margin-top: 55px;
        }

        img {
            @include absolute(null, null, 0, 10px);

            @include mobile {
                display: none;
            }
        }

        &::after {
            @include absolute(-61px, null, null, -61px);
            @include size(46px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='44' viewBox='0 0 46 44' fill='none'%3E%3Cpath d='M28.19 32.0059C31.3573 30.63 33.5114 27.7956 33.4358 25.2194C33.3617 21.5123 28.7481 19.427 25.2713 19.8082C23.4222 20.0678 21.6558 20.9604 20.2095 22.3659C18.7631 23.7714 17.7063 25.6225 17.181 27.6703C15.7823 33.5135 20.2066 38.6717 23.7559 40.6644C26.4216 42.0484 29.4576 42.3953 32.4151 41.654C35.3726 40.9126 38.0945 39.1223 40.1784 36.5477C45.2072 30.0662 43.1412 20.9592 43.0194 20.4864C40.1261 8.53086 23.5523 1.48 1.86525 2.4711' stroke='%2320AFDE' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';

            @include mobile {
                content: none;
            }
        }

        &::before {
            @include absolute(null, -60px, 160px, null);
            @include size(17px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8.5' fill='%23FF99D0'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';

            @include tablet {
                bottom: 60px;
                right: -15px;
            }

            @include mobile {
                content: none;
            }
        }
    }

    &__buttons {
        @include flex-v-center;
        gap: 0 28px;

        @include mobile {
            flex-direction: column;
            gap: 20px 0;
        }

        .btn {
            @include tablet {
                height: 52px;
                padding: 21px 38px;
            }

            @include mobile {
                height: 72px;
                max-width: 320px;
                padding: 21px 60px;
                width: 100%;
            }
        }
    }

    &__wrap {
        align-items: center;
        background-color: $color-white;
        border-radius: 24px;
        box-shadow: 0px 18px 22px -10px rgba($color-black, 0.06), 0px 54px 64px -5px rgba($color-black, 0.10);
        display: inline-flex;
        flex-direction: column;
        padding: 20px 30px;

        @include tablet {
            padding: 10px 22px;
        }

        &.is-left {
            @include absolute(37px, null, null, -48px);

            @include mobile {
                display: none;
            }
        }

        &.is-right {
            @include absolute(null, -72px, -20px, null);
            flex-direction: row;

            @include tablet {
                right: 0;
            }

            @include mobile {
                @include reset-position;
                padding: 15px 33px;
                position: relative;

                &::before {
                    @include absolute(-15px, null, null, -50px);
                    @include size(100%, 127px);
                    background: {
                        image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='167' height='127' viewBox='0 0 167 127' fill='none'%3E%3Cg filter='url(%23filter0_i_46948_29570)'%3E%3Cpath d='M162.676 119.103C161.914 119.102 161.169 119.327 160.535 119.749C159.901 120.172 159.406 120.773 159.114 121.476C158.821 122.18 158.744 122.954 158.892 123.701C159.04 124.449 159.407 125.135 159.945 125.674C160.484 126.213 161.17 126.58 161.918 126.729C162.665 126.878 163.44 126.803 164.144 126.511C164.848 126.22 165.45 125.726 165.874 125.093C166.297 124.46 166.523 123.715 166.523 122.953C166.523 121.933 166.118 120.954 165.397 120.233C164.676 119.511 163.697 119.104 162.676 119.103Z' fill='%23F7F8FA'/%3E%3Cpath d='M162.676 79.4019C161.914 79.4009 161.169 79.6258 160.535 80.0483C159.901 80.4708 159.406 81.0718 159.114 81.7753C158.821 82.4788 158.744 83.2531 158.892 84.0004C159.04 84.7477 159.407 85.4342 159.945 85.9733C160.484 86.5123 161.17 86.8795 161.918 87.0285C162.665 87.1775 163.44 87.1016 164.144 86.8103C164.848 86.519 165.45 86.0255 165.874 85.3922C166.297 84.7588 166.523 84.0142 166.523 83.2524C166.523 82.2321 166.118 81.2535 165.397 80.5316C164.676 79.8096 163.697 79.4033 162.676 79.4019Z' fill='%23F7F8FA'/%3E%3Cpath d='M162.676 39.7009C161.914 39.6999 161.169 39.925 160.534 40.3477C159.9 40.7704 159.405 41.3717 159.113 42.0755C158.821 42.7793 158.744 43.5539 158.893 44.3013C159.041 45.0487 159.408 45.7353 159.947 46.2741C160.486 46.8129 161.173 47.1797 161.921 47.3282C162.669 47.4766 163.444 47.3999 164.148 47.1078C164.852 46.8157 165.454 46.3214 165.876 45.6874C166.299 45.0533 166.524 44.3082 166.523 43.5462C166.522 42.5268 166.116 41.5495 165.395 40.8287C164.674 40.1079 163.696 39.7023 162.676 39.7009Z' fill='%23F7F8FA'/%3E%3Cpath d='M162.676 3.54614e-06C161.914 -0.00103007 161.169 0.223914 160.535 0.646381C159.901 1.06885 159.406 1.66985 159.114 2.37334C158.821 3.07683 158.744 3.8512 158.892 4.59846C159.04 5.34573 159.407 6.0323 159.945 6.57133C160.484 7.11035 161.17 7.47758 161.918 7.62658C162.665 7.77557 163.44 7.69963 164.144 7.40835C164.848 7.11707 165.45 6.62355 165.874 5.99023C166.297 5.35691 166.523 4.61225 166.523 3.85048C166.523 2.83017 166.118 1.85158 165.397 1.12963C164.676 0.407673 163.697 0.00138795 162.676 3.54614e-06Z' fill='%23F7F8FA'/%3E%3Cpath d='M114.971 119.103C114.209 119.102 113.464 119.327 112.83 119.749C112.196 120.172 111.701 120.773 111.409 121.476C111.116 122.18 111.039 122.954 111.187 123.701C111.335 124.449 111.702 125.135 112.24 125.674C112.779 126.213 113.465 126.58 114.213 126.729C114.96 126.878 115.735 126.803 116.439 126.511C117.143 126.22 117.745 125.726 118.169 125.093C118.592 124.46 118.818 123.715 118.818 122.953C118.818 121.933 118.413 120.954 117.692 120.233C116.971 119.511 115.992 119.104 114.971 119.103Z' fill='%23F7F8FA'/%3E%3Cpath d='M114.971 79.4019C114.209 79.4009 113.464 79.6258 112.83 80.0483C112.196 80.4708 111.701 81.0718 111.409 81.7753C111.116 82.4788 111.039 83.2531 111.187 84.0004C111.335 84.7477 111.702 85.4342 112.24 85.9733C112.779 86.5123 113.465 86.8795 114.213 87.0285C114.96 87.1775 115.735 87.1016 116.439 86.8103C117.143 86.519 117.745 86.0255 118.169 85.3922C118.592 84.7588 118.818 84.0142 118.818 83.2524C118.818 82.2321 118.413 81.2535 117.692 80.5316C116.971 79.8096 115.992 79.4033 114.971 79.4019Z' fill='%23F7F8FA'/%3E%3Cpath d='M114.971 39.7009C114.209 39.6999 113.464 39.925 112.829 40.3477C112.195 40.7704 111.7 41.3717 111.408 42.0755C111.116 42.7793 111.039 43.5539 111.188 44.3013C111.336 45.0487 111.703 45.7353 112.242 46.2741C112.781 46.8129 113.468 47.1797 114.216 47.3282C114.964 47.4766 115.739 47.3999 116.443 47.1078C117.147 46.8157 117.748 46.3214 118.171 45.6874C118.594 45.0533 118.819 44.3082 118.818 43.5462C118.817 42.5268 118.411 41.5495 117.69 40.8287C116.969 40.1079 115.991 39.7023 114.971 39.7009Z' fill='%23F7F8FA'/%3E%3Cpath d='M114.971 3.54614e-06C114.209 -0.00103007 113.464 0.223914 112.83 0.646381C112.196 1.06885 111.701 1.66985 111.409 2.37334C111.116 3.07683 111.039 3.8512 111.187 4.59846C111.335 5.34573 111.702 6.0323 112.24 6.57133C112.779 7.11035 113.465 7.47758 114.213 7.62658C114.96 7.77557 115.735 7.69963 116.439 7.40835C117.143 7.11707 117.745 6.62355 118.169 5.99023C118.592 5.35691 118.818 4.61225 118.818 3.85048C118.818 2.83017 118.413 1.85158 117.692 1.12963C116.971 0.407673 115.992 0.00138795 114.971 3.54614e-06Z' fill='%23F7F8FA'/%3E%3Cpath d='M67.263 119.103C66.5011 119.103 65.7563 119.329 65.1228 119.752C64.4893 120.175 63.9956 120.776 63.704 121.48C63.4125 122.183 63.3362 122.958 63.4848 123.705C63.6335 124.451 64.0003 125.138 64.5391 125.676C65.0778 126.215 65.7642 126.581 66.5115 126.73C67.2587 126.878 68.0333 126.802 68.7372 126.511C69.4411 126.219 70.0427 125.726 70.466 125.093C70.8893 124.459 71.1152 123.715 71.1152 122.953C71.1152 121.932 70.7094 120.953 69.987 120.231C69.2645 119.509 68.2847 119.103 67.263 119.103Z' fill='%23F7F8FA'/%3E%3Cpath d='M67.263 79.4019C66.5011 79.4019 65.7563 79.6278 65.1228 80.0509C64.4893 80.4739 63.9956 81.0753 63.704 81.7789C63.4125 82.4825 63.3362 83.2567 63.4848 84.0036C63.6335 84.7505 64.0003 85.4366 64.5391 85.9751C65.0778 86.5136 65.7642 86.8803 66.5115 87.0289C67.2587 87.1775 68.0333 87.1012 68.7372 86.8098C69.4411 86.5183 70.0427 86.0248 70.466 85.3916C70.8893 84.7584 71.1152 84.014 71.1152 83.2524C71.1152 82.2312 70.7094 81.2518 69.987 80.5297C69.2645 79.8076 68.2847 79.4019 67.263 79.4019Z' fill='%23F7F8FA'/%3E%3Cpath d='M67.263 39.7009C66.5009 39.7009 65.7559 39.9269 65.1223 40.3502C64.4887 40.7735 63.9949 41.3752 63.7035 42.0791C63.4121 42.783 63.3361 43.5575 63.4852 44.3045C63.6343 45.0516 64.0017 45.7377 64.5409 46.276C65.0802 46.8142 65.7671 47.1805 66.5147 47.3285C67.2623 47.4765 68.037 47.3995 68.7408 47.1073C69.4446 46.815 70.0459 46.3207 70.4686 45.6868C70.8912 45.0529 71.1163 44.308 71.1152 43.5462C71.1138 42.5259 70.7074 41.5478 69.9851 40.8269C69.2628 40.1059 68.2838 39.7009 67.263 39.7009Z' fill='%23F7F8FA'/%3E%3Cpath d='M67.263 0C66.5011 0 65.7563 0.225825 65.1228 0.64892C64.4893 1.07202 63.9956 1.67338 63.704 2.37696C63.4125 3.08054 63.3362 3.85475 63.4848 4.60167C63.6335 5.34859 64.0003 6.03467 64.5391 6.57317C65.0778 7.11167 65.7642 7.47839 66.5115 7.62697C67.2587 7.77554 68.0333 7.69928 68.7372 7.40785C69.4411 7.11641 70.0427 6.62289 70.466 5.98969C70.8893 5.35648 71.1152 4.61203 71.1152 3.85047C71.1152 2.82926 70.7094 1.84988 69.987 1.12777C69.2645 0.40567 68.2847 0 67.263 0Z' fill='%23F7F8FA'/%3E%3Cpath d='M19.5579 119.103C18.796 119.103 18.0512 119.329 17.4178 119.752C16.7843 120.175 16.2905 120.776 15.9989 121.48C15.7074 122.183 15.6311 122.958 15.7797 123.705C15.9284 124.452 16.2953 125.138 16.834 125.676C17.3727 126.215 18.0591 126.581 18.8064 126.73C19.5537 126.878 20.3282 126.802 21.0321 126.511C21.736 126.219 22.3376 125.726 22.7609 125.093C23.1842 124.459 23.4102 123.715 23.4102 122.953C23.4108 122.448 23.3117 121.947 23.1183 121.479C22.925 121.012 22.6412 120.587 22.2834 120.229C21.9255 119.871 21.5006 119.588 21.0329 119.395C20.5652 119.201 20.064 119.102 19.5579 119.103Z' fill='%23F7F8FA'/%3E%3Cpath d='M19.5579 79.4019C18.796 79.4019 18.0512 79.6278 17.4178 80.0509C16.7843 80.474 16.2905 81.0753 15.9989 81.7789C15.7074 82.4825 15.6311 83.2567 15.7797 84.0036C15.9284 84.7505 16.2953 85.4366 16.834 85.9751C17.3727 86.5136 18.0591 86.8803 18.8064 87.0289C19.5537 87.1775 20.3282 87.1012 21.0321 86.8098C21.736 86.5184 22.3376 86.0248 22.7609 85.3916C23.1842 84.7584 23.4102 84.014 23.4102 83.2524C23.4108 82.7466 23.3117 82.2455 23.1183 81.7781C22.925 81.3106 22.6412 80.8859 22.2834 80.5282C21.9255 80.1705 21.5006 79.8869 21.0329 79.6936C20.5652 79.5004 20.064 79.4012 19.5579 79.4019Z' fill='%23F7F8FA'/%3E%3Cpath d='M19.5579 39.7009C18.7958 39.7009 18.0508 39.9269 17.4172 40.3502C16.7836 40.7735 16.2899 41.3752 15.9984 42.0791C15.707 42.783 15.6311 43.5575 15.7801 44.3045C15.9292 45.0516 16.2966 45.7377 16.8359 46.276C17.3751 46.8143 18.062 47.1806 18.8096 47.3285C19.5572 47.4765 20.3319 47.3995 21.0357 47.1073C21.7395 46.815 22.3408 46.3207 22.7635 45.6868C23.1861 45.0529 23.4112 44.308 23.4102 43.5462C23.4102 43.0408 23.3105 42.5403 23.1168 42.0735C22.9232 41.6066 22.6393 41.1825 22.2815 40.8253C21.9238 40.4682 21.4991 40.1851 21.0317 39.9921C20.5644 39.7992 20.0636 39.7002 19.5579 39.7009Z' fill='%23F7F8FA'/%3E%3Cpath d='M19.5579 3.55457e-06C18.796 3.55457e-06 18.0512 0.225828 17.4178 0.648924C16.7843 1.07202 16.2905 1.67338 15.9989 2.37697C15.7074 3.08055 15.6311 3.85475 15.7797 4.60167C15.9284 5.34859 16.2953 6.03468 16.834 6.57318C17.3727 7.11167 18.0591 7.4784 18.8064 7.62697C19.5537 7.77554 20.3282 7.69928 21.0321 7.40785C21.736 7.11642 22.3376 6.6229 22.7609 5.98969C23.1842 5.35648 23.4102 4.61203 23.4102 3.85048C23.4108 3.34463 23.3117 2.84362 23.1183 2.37615C22.925 1.90868 22.6412 1.48393 22.2834 1.12625C21.9255 0.76856 21.5006 0.48496 21.0329 0.291699C20.5652 0.0984379 20.064 -0.000684203 19.5579 3.55457e-06Z' fill='%23F7F8FA'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_46948_29570' x='-32' y='0' width='198.523' height='126.804' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='57'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_46948_29570'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
                        repeat: no-repeat;
                    };
                    content: '';
                    z-index: -1;
                }
            }
        }
    }

    &__num {
        @include font(var(--typo-1), 42px, var(--fw-bold));
        color: $color-black;
        line-height: 1;

        @include tablet {
            font-size: 32px;
        }
    }

    &__text {
        @include font(var(--typo-1), 14px, var(--fw-normal));
        color: $color-black;

        @include tablet {
            font-size: 11px;
        }
    }

    &__name {
        @include font(var(--typo-1), 16px, var(--fw-bold));

        @include tablet {
            font-size: 12px;
        }
    }

    &__inner {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        position: relative;

        @include tablet {
            margin-left: 17px;
        }

        @include mobile {
            margin-left: 23px;
        }

        &::before {
            @include absolute(-5px, null, null, -15px);
            @include size(25px);
            background: {
                image: url("../img/logo-sitejabber.svg");
                repeat: no-repeat;
            };
            content: '';

            @include tablet {
                @include size(18px);
                background-size: 100%;
            }
        }
    }
}
