<section class="advantages">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Experience Academic Advantages</h2>
            <p class="title__text-small">EssayCraft is a trusted essay writing service that specializes</p>
        </div>
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <div class="advantages__picture">
                    <img src="../img/advantages-1.svg" alt="picture">
                </div>
                <h3 class="advantages__title item-title">2x Freshness Test</h3>
            </div>
            <div class="advantages__item">
                <div class="advantages__picture">
                    <img src="../img/advantages-2.svg" alt="picture">
                </div>
                <h3 class="advantages__title item-title">10-Day Grace Period</h3>
            </div>
            <div class="advantages__item">
                <div class="advantages__picture">
                    <img src="../img/advantages-3.svg" alt="picture">
                </div>
                <h3 class="advantages__title item-title">60-Day Quality Warranty</h3>
            </div>
        </div>
    </div>
</section>
