<section class="article-faq">
    <div class="aticle-faq__title">
        <div class="title">
            <h2 class="title__text">Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="article-faq__content">
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                Is it legal to get writing help online?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, deserunt,
                    recusandae rerum voluptate ducimus cupiditate eos ad labore voluptates facilis
                    minima corrupti explicabo. Sapiente cupiditate cumque assumenda, quod incidunt sequi.
                </p>
            </div>
        </div>
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                EssayCraft is a trusted essay writing service?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fuga odio consequatur
                    quibusdam earum, ipsa soluta, quaerat incidunt esse iure optio asperiores vitae totam
                    in facilis excepturi. Laboriosam, quasi deserunt.
                </p>
            </div>
        </div>
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                That specializes in crafting?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur ducimus enim
                    consequuntur fugiat fugit dicta officiis! Adipisci dicta, aut inventore tempore optio
                    magnam reprehenderit temporibus laborum esse consequatur neque!
                </p>
            </div>
        </div>
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                Thank you so much! I am very impressed?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus earum
                    similique minima iure? Similique odit commodi unde, facere quae sunt veniam
                    reprehenderit. Quae temporibus, harum veniam nisi sapiente ipsa?
                </p>
            </div>
        </div>
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                There were a lot of areas in my original?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                    necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                    esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                </p>
            </div>
        </div>
        <div class="article-faq__wrapper">
            <h3 class="article-faq__question">
                Paper where I was not sure what I could?
                <span class="article-faq__question-icon" aria-hidden="true"></span>
            </h3>
            <div class="article-faq__answer">
                <p class="article-faq__answer-inner paragraph">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                    necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                    esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                </p>
            </div>
        </div>
    </div>
</section>
