<section class="article">
    <div class="article__wrapper">
        <div class="article__group-first">
            <div class="article__picture">
                <img src="../img/news-1.png" alt="picture">
            </div>
            <h2 class="article__title">210 Exceptional Position Paper Topics That Will Convince Anyone</h2>
        </div>
        <div class="article__group">
            <h3 class="article__subtitle item-title">Aenean massa</h3>
            <p class="article__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            </p>
        </div>
        <div class="article__group">
            <h3 class="article__subtitle item-title">Aenean massa</h3>
            <p class="article__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            </p>
            <ul class="article__list is-circle-black">
                <li class="article__item">Aenean massa</li>
                <li class="article__item">Aenean massa</li>
                <ul class="article__list is-circle-transparent">
                    <li class="article__item">Aenean massa</li>
                    <li class="article__item">Aenean massa</li>
                    <ul class="article__list is-square-black">
                        <li class="article__item">Aenean massa</li>
                        <li class="article__item">Aenean massa</li>
                        <ul class="article__list is-square-transparent">
                            <li class="article__item">Aenean massa</li>
                            <li class="article__item">Aenean massa</li>
                        </ul>
                    </ul>
                </ul>
            </ul>
            <p class="article__paragraph paragraph">
                Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer
                lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut,
                mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus.
            </p>
            <ul class="article__list is-num">
                <li class="article__item">1. Aenean massa</li>
                <li class="article__item">2. Aenean massa</li>
                <ul class="article__list">
                    <li class="article__item">2.1 Aenean massa</li>
                    <li class="article__item">2.2 Aenean massa</li>
                    <ul class="article__list">
                        <li class="article__item">2.2.1 Aenean massa</li>
                        <li class="article__item">2.2.2 Aenean massa</li>
                        <ul class="article__list">
                            <li class="article__item">2.2.2.1 Aenean massa</li>
                            <li class="article__item">2.2.2.2 Aenean massa</li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </div>
        <div class="article__group">
            <h3 class="article__subtitle item-title">Aenean massa</h3>
            <p class="article__paragraph paragraph">
                Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam
                nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit
                risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec
                neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien,
                tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at
                massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit.
            </p>
            <div class="article__inner">
                <div class="article__inner-wrap">
                    <h3 class="article__subtitle item-title">Aenean massa</h3>
                    <p class="article__category">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Sed aliquam,
                    </p>
                </div>
                <div class="article__inner-wrap">
                    <h3 class="article__subtitle item-title">Aenean massa</h3>
                    <p class="article__category">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Sed aliquam,
                    </p>
                </div>
                <div class="article__inner-wrap">
                    <h3 class="article__subtitle item-title">Aenean massa</h3>
                    <p class="article__category">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Sed aliquam,
                    </p>
                </div>
            </div>
            <p class="article__paragraph paragraph">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam,
                nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus
                consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.
                Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean
                posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis
                lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse
                pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis
                nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce
                id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
            </p>
            <p class="article__quote">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
                aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.
            </p>
            <p class="article__paragraph paragraph">
                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt
                tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget
                eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.
                Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
            </p>
            <div class="article__content">
                <div class="article__wrap">
                    <h3 class="article__question">
                        <span class="article__question-icon" aria-hidden="true"></span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </h3>
                    <div class="article__answer">
                        <p class="article__answer-inner paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, deserunt,
                            recusandae rerum voluptate ducimus cupiditate eos ad labore voluptates facilis
                            minima corrupti explicabo. Sapiente cupiditate cumque assumenda, quod incidunt sequi.
                        </p>
                    </div>
                </div>
                <div class="article__wrap">
                    <h3 class="article__question">
                        <span class="article__question-icon" aria-hidden="true"></span>
                        Aenean commodo ligula eget dolor
                    </h3>
                    <div class="article__answer">
                        <p class="article__answer-inner paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fuga odio consequatur
                            quibusdam earum, ipsa soluta, quaerat incidunt esse iure optio asperiores vitae totam
                            in facilis excepturi. Laboriosam, quasi deserunt.
                        </p>
                    </div>
                </div>
                <div class="article__wrap">
                    <h3 class="article__question">
                        <span class="article__question-icon" aria-hidden="true"></span>
                        Aenean massa
                    </h3>
                    <div class="article__answer">
                        <p class="article__answer-inner paragraph">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur ducimus enim
                            consequuntur fugiat fugit dicta officiis! Adipisci dicta, aut inventore tempore optio
                            magnam reprehenderit temporibus laborum esse consequatur neque!
                        </p>
                    </div>
                </div>
                <div class="article__wrap">
                    <h3 class="article__question">
                        <span class="article__question-icon" aria-hidden="true"></span>
                        Sociis natoque penatibus et
                    </h3>
                    <div class="article__answer">
                        <p class="article__answer-inner paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus earum
                            similique minima iure? Similique odit commodi unde, facere quae sunt veniam
                            reprehenderit. Quae temporibus, harum veniam nisi sapiente ipsa?
                        </p>
                    </div>
                </div>
            </div>
            <ul class="article__mark-list">
                <li class="article__mark-item">Get high marks thanks</li>
                <li class="article__mark-item">Get high marks thanks</li>
                <li class="article__mark-item">Get high marks thanks</li>
                <li class="article__mark-item">Get high marks thanks</li>
            </ul>
        </div>
        <div class="article__group">
            <h3 class="article__subtitle item-title">Aenean massa</h3>
            <h4 class="article__title-sm">Aenean massa</h4>
            <p class="article__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            </p>
        </div>
    </div>
</section>
