<div class="article-link">
    <ul class="article-link__list">
        <li class="article-link__item">
            <a href="#" class="article-link__link">
                263 Unique Pros And Cons Topics To Explore
            </a>
            <span class="article-link__icon"></span>
        </li>
        <li class="article-link__item is-left">
            <span class="article-link__icon"></span>
            <a href="#" class="article-link__link">
                232 Fantastic Globalization Essay Topics That Will Get You Top Grades
            </a>
        </li>
    </ul>
</div>
