<div class="article-carousel">
    <div class="title">
        <h2 class="title__text">Related Posts</h2>
    </div>
    <div class="article-carousel__slide">
        <div class="article-carousel__button-group">
            <div class="article-carousel__button-prev swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none">
                    <path d="M1.00033 6.99994L5.66699 0.999987" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1.00033 7.00005L5.66699 13" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                    <path d="M21 6.99994L1 6.99994" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="article-carousel__button-next swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none">
                    <path d="M20.9997 7.00007L16.333 13" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                    <path d="M20.9997 6.99995L16.333 1" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1 7.00006L21 7.00006" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        <div class="article-carousel__swiper-pagination swiper-pagination"></div>
        <div class="article-carousel__slider-container swiper-container">
            <div class="swiper-wrapper">
                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-1.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph">
                        170 Vaccination Research Paper Topics For Stellar Students
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-2.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph">
                        How To Write Internal Medicine Personal Statement Successfully
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-3.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph">
                        201 Stellar Medical Researches Topics For Any Taste
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-2.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph">
                        How To Write Internal Medicine Personal Statement Successfully
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-1.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph">
                        170 Vaccination Research Paper Topics For Stellar Students
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
