<section class="benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Experience Academic Advantages</h2>
            <p class="title__text-small">EssayCraft is a trusted essay writing service that specializes</p>
        </div>
        <div class="benefits__wrapper">
            <div class="benefits__item">
                <div class="benefits__content">
                    <div class="benefits__picture">
                        <img src="../img/benefits-1.svg" alt="picture">
                    </div>
                    <h3 class="benefits__title item-title">Best Experts</h3>
                    <p class="benefits__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts -
                        we only have the best, rigorously selected experts
                    </p>
                </div>
                <a href="#" class="benefits__button">
                    The Experts
                    <span class="benefits__button-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <div class="benefits__picture">
                        <img src="../img/benefits-2.svg" alt="picture">
                    </div>
                    <h3 class="benefits__title item-title">High Quality</h3>
                    <p class="benefits__paragraph paragraph">
                        Don't worry about any problems, be sure of the result thanks to strict quality control
                    </p>
                </div>
                <a href="#" class="benefits__button">
                    How It Works
                    <span class="benefits__button-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <div class="benefits__picture">
                        <img src="../img/benefits-3.svg" alt="picture">
                    </div>
                    <h3 class="benefits__title item-title">Fast Result</h3>
                    <p class="benefits__paragraph paragraph">
                        Meet any deadline with fast 24/7 support and deadlines up to 3 hours
                    </p>
                </div>
                <a href="#" class="benefits__button">
                    The Experts
                    <span class="benefits__button-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>
