<section class="blog-benefits">
    <div class="blog-benefits__wrapper">
        <div class="blog-benefits__item">
            <div class="blog-benefits__picture">
                <img src="../img/benefits-1.svg" alt="picture">
            </div>
            <h3 class="blog-benefits__title item-title">Best Experts</h3>
            <p class="blog-benefits__paragraph paragraph">
                Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
            </p>
        </div>
        <div class="blog-benefits__item">
            <div class="blog-benefits__picture">
                <img src="../img/benefits-2.svg" alt="picture">
            </div>
            <h3 class="blog-benefits__title item-title">High Quality</h3>
            <p class="blog-benefits__paragraph paragraph">
                Don't worry about any problems, be sure of the result thanks to strict quality control
            </p>
        </div>
        <div class="blog-benefits__item">
            <div class="blog-benefits__picture">
                <img src="../img/benefits-3.svg" alt="picture">
            </div>
            <h3 class="blog-benefits__title item-title">Fast Result</h3>
            <p class="blog-benefits__paragraph paragraph">
                Meet any deadline with fast 24/7 support and deadlines up to 3 hours
            </p>
        </div>
    </div>
</section>
