<section class="card">
    <div class="container">
        <div class="card__wrapper">
            <div class="card__picture">
                <div class="card__item is-green">
                    <span class="card__num">100</span>
                    <span class="card__text">works</span>
                </div>
                <div class="card__item is-magenta">
                    <span class="card__num">100</span>
                    <span class="card__text">works</span>
                </div>
                <div class="card__item is-yellow">
                    <span class="card__num">100</span>
                    <span class="card__text">works</span>
                </div>
            </div>
            <div class="card__content">
                <div class="title">
                    <h2 class="title__text">Experience Academic Advantages</h2>
                    <p class="title__text-small">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam,
                        nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
