<section class="contact-block">
    <div class="container">
        <div class="contact-block__wrapper">
            <div class="contact-block__content">
                <div class="title is-primary">
                    <h2 class="title__text">Contacts</h2>
                    <p class="title__text-small">
                        EssayCraft is a trusted essay writing service that specializes in crafting
                        exceptional essays to help you
                    </p>
                </div>
                <div class="contact-block__info">
                    <div class="contact-block__group">
                        <p class="contact-block__title">email</p>
                        <a href="mailto:support@paperwritten.com" class="contact-block__link">
                            support@paperwritten.com
                        </a>
                    </div>
                    <div class="contact-block__group">
                        <p class="contact-block__title">phone</p>
                        <a href="tel:+19999999999" class="contact-block__link">
                            +1 999 999 99 99
                        </a>
                    </div>
                    <div class="contact-block__group">
                        <p class="contact-block__title">email</p>
                        <a href="mailto:billing@paperwritten.com" class="contact-block__link">
                            billing@paperwritten.com
                        </a>
                    </div>
                    <div class="contact-block__group">
                        <p class="contact-block__title">time</p>
                        <p class="contact-block__link is-no-link">
                            09:00am - 10:00pm
                        </p>
                    </div>
                    <div class="contact-block__group">
                        <p class="contact-block__title">email</p>
                        <a href="mailto:sales@paperwritten.com" class="contact-block__link">
                            sales@paperwritten.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-block__picture">
                <img src="../img/contact.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
