<div class="dropdown-menu">
    <div class="header-nav__dropdown">
        <div class="header-nav__dropdown-wrapper">
            <a href="#" class="header-nav__dropdown-link is-back">
                <span class="header-nav__dropdown-icon" aria-hidden="true"></span>
                back
            </a>
            <div class="header-nav__dropdown-inner">
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            EssayCraft is a trusted essay writing
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Essays to help you achieve
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Academic success
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Service that specializes in crafting exceptional
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Essays to help you achieve
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Academic success
                        </a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-tag">
                            Service that specializes in crafting exceptional
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
