<section class="expert">
    <div class="expert__container container">
        <div class="title">
            <h2 class="title__text">Experience Academic Advantages</h2>
        </div>
        <div class="expert__wrapper">
            <div class="expert__slider">
                <div class="expert__button-group">
                    <div class="expert__button-prev swiper-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none">
                            <path d="M1.00033 6.99994L5.66699 0.999987" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                            <path d="M1.00033 7.00005L5.66699 13" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                            <path d="M21 6.99994L1 6.99994" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="expert__button-next swiper-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none">
                            <path d="M20.9997 7.00007L16.333 13" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                            <path d="M20.9997 6.99995L16.333 1" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                            <path d="M1 7.00006L21 7.00006" stroke="#05070A" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="expert__swiper-pagination swiper-pagination"></div>
                <div class="expert__slider-container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="expert__slide swiper-slide">
                            <div class="expert__row is-first">
                                <div class="expert__inner">
                                    <div class="expert__info">
                                        <p class="expert__info-num">Expert #233644</p>
                                        <div class="expert__info-icons">
                                            <picture class="expert__flag">
                                                <img src="../img/us-flag.svg" alt="us">
                                            </picture>
                                            <picture class="expert__verify">
                                                <img src="../img/verify.svg" alt="verify">
                                                <span class="expert__tooltip">Verified Expert</span>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="expert__inner">
                                    <picture class="expert__rating">
                                        <img src="../img/rating.svg" alt="rating">
                                    </picture>
                                    <span class="expert__rate">4.7</span>
                                    <span class="expert__rate-info">(223)</span>
                                </div>
                            </div>
                            <div class="expert__row is-second">
                                <div class="expert__inner">
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">128</span>
                                        <span class="expert__amount-text">works</span>
                                    </p>
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">4</span>
                                        <span class="expert__amount-text">years</span>
                                    </p>
                                </div>
                                <div class="expert__inner">
                                    <p class="expert__route is-green">Business and Management</p>
                                    <p class="expert__route is-blue">Accounting</p>
                                    <p class="expert__route is-pink">Healthcare</p>
                                </div>
                            </div>
                            <div class="expert__row is-third">
                                <p class="expert__review">recent review</p>
                                <p class="expert__review-text">
                                    Get high marks thanks to the top 2% of experts - we only have the best,
                                    rigorously selected experts
                                </p>
                            </div>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>

                        <div class="expert__slide swiper-slide">
                            <div class="expert__row is-first">
                                <div class="expert__inner">
                                    <div class="expert__info">
                                        <p class="expert__info-num">Expert #235874</p>
                                        <div class="expert__info-icons">
                                            <picture class="expert__flag">
                                                <img src="../img/australia-flag.svg" alt="us">
                                            </picture>
                                            <picture class="expert__verify">
                                                <img src="../img/verify.svg" alt="verify">
                                                <span class="expert__tooltip">Verified Expert</span>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="expert__inner">
                                    <picture class="expert__rating">
                                        <img src="../img/rating.svg" alt="rating">
                                    </picture>
                                    <span class="expert__rate">4.5</span>
                                    <span class="expert__rate-info">(323)</span>
                                </div>
                            </div>
                            <div class="expert__row is-second">
                                <div class="expert__inner">
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">128</span>
                                        <span class="expert__amount-text">works</span>
                                    </p>
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">4</span>
                                        <span class="expert__amount-text">years</span>
                                    </p>
                                </div>
                                <div class="expert__inner">
                                    <p class="expert__route is-green">Business and Management</p>
                                    <p class="expert__route is-blue">Accounting</p>
                                    <p class="expert__route is-pink">Healthcare</p>
                                </div>
                            </div>
                            <div class="expert__row is-third">
                                <p class="expert__review">recent review</p>
                                <p class="expert__review-text">
                                    Get high marks thanks to the top 2% of experts - we only have the best,
                                    rigorously selected experts
                                </p>
                            </div>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>

                        <div class="expert__slide swiper-slide">
                            <div class="expert__row is-first">
                                <div class="expert__inner">
                                    <div class="expert__info">
                                        <p class="expert__info-num">Expert #233984</p>
                                        <div class="expert__info-icons">
                                            <picture class="expert__flag">
                                                <img src="../img/canada-flag.svg" alt="us">
                                            </picture>
                                            <picture class="expert__verify">
                                                <img src="../img/verify.svg" alt="verify">
                                                <span class="expert__tooltip">Verified Expert</span>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="expert__inner">
                                    <picture class="expert__rating">
                                        <img src="../img/rating.svg" alt="rating">
                                    </picture>
                                    <span class="expert__rate">4.8</span>
                                    <span class="expert__rate-info">(503)</span>
                                </div>
                            </div>
                            <div class="expert__row is-second">
                                <div class="expert__inner">
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">128</span>
                                        <span class="expert__amount-text">works</span>
                                    </p>
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">4</span>
                                        <span class="expert__amount-text">years</span>
                                    </p>
                                </div>
                                <div class="expert__inner">
                                    <p class="expert__route is-green">Business and Management</p>
                                    <p class="expert__route is-blue">Accounting</p>
                                    <p class="expert__route is-pink">Healthcare</p>
                                </div>
                            </div>
                            <div class="expert__row is-third">
                                <p class="expert__review">recent review</p>
                                <p class="expert__review-text">
                                    Get high marks thanks to the top 2% of experts - we only have the best,
                                    rigorously selected experts
                                </p>
                            </div>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>

                        <div class="expert__slide swiper-slide">
                            <div class="expert__row is-first">
                                <div class="expert__inner">
                                    <div class="expert__info">
                                        <p class="expert__info-num">Expert #233555</p>
                                        <div class="expert__info-icons">
                                            <picture class="expert__flag">
                                                <img src="../img/australia-flag.svg" alt="us">
                                            </picture>
                                            <picture class="expert__verify">
                                                <img src="../img/verify.svg" alt="verify">
                                                <span class="expert__tooltip">Verified Expert</span>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="expert__inner">
                                    <picture class="expert__rating">
                                        <img src="../img/rating.svg" alt="rating">
                                    </picture>
                                    <span class="expert__rate">4.7</span>
                                    <span class="expert__rate-info">(223)</span>
                                </div>
                            </div>
                            <div class="expert__row is-second">
                                <div class="expert__inner">
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">128</span>
                                        <span class="expert__amount-text">works</span>
                                    </p>
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">4</span>
                                        <span class="expert__amount-text">years</span>
                                    </p>
                                </div>
                                <div class="expert__inner">
                                    <p class="expert__route is-green">Business and Management</p>
                                    <p class="expert__route is-blue">Accounting</p>
                                    <p class="expert__route is-pink">Healthcare</p>
                                </div>
                            </div>
                            <div class="expert__row is-third">
                                <p class="expert__review">recent review</p>
                                <p class="expert__review-text">
                                    Get high marks thanks to the top 2% of experts - we only have the best,
                                    rigorously selected experts
                                </p>
                            </div>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>

                        <div class="expert__slide swiper-slide">
                            <div class="expert__row is-first">
                                <div class="expert__inner">
                                    <div class="expert__info">
                                        <p class="expert__info-num">Expert #239833</p>
                                        <div class="expert__info-icons">
                                            <picture class="expert__flag">
                                                <img src="../img/canada-flag.svg" alt="us">
                                            </picture>
                                            <picture class="expert__verify">
                                                <img src="../img/verify.svg" alt="verify">
                                                <span class="expert__tooltip">Verified Expert</span>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="expert__inner">
                                    <picture class="expert__rating">
                                        <img src="../img/rating.svg" alt="rating">
                                    </picture>
                                    <span class="expert__rate">4.8</span>
                                    <span class="expert__rate-info">(261)</span>
                                </div>
                            </div>
                            <div class="expert__row is-second">
                                <div class="expert__inner">
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">128</span>
                                        <span class="expert__amount-text">works</span>
                                    </p>
                                    <p class="expert__amount">
                                        <span class="expert__amount-num">4</span>
                                        <span class="expert__amount-text">years</span>
                                    </p>
                                </div>
                                <div class="expert__inner">
                                    <p class="expert__route is-green">Business and Management</p>
                                    <p class="expert__route is-blue">Accounting</p>
                                    <p class="expert__route is-pink">Healthcare</p>
                                </div>
                            </div>
                            <div class="expert__row is-third">
                                <p class="expert__review">recent review</p>
                                <p class="expert__review-text">
                                    Get high marks thanks to the top 2% of experts - we only have the best,
                                    rigorously selected experts
                                </p>
                            </div>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>

                        <div class="expert__content swiper-slide">
                            <h3 class="expert__title">
                                Find the perfect fit for your project, with 500+ experts across the board
                            </h3>
                            <a href="#" class="btn is-small expert__btn">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="expert__more">
            See More
            <span class="expert__more-icon" aria-hidden="true"></span>
        </a>
    </div>
</section>
