<section class="expert-best">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Get more. Pay less.</h2>
            <p class="title__text-small">Get one point for every dollar you spend, and enjoy fixed discounts for life</p>
        </div>
        <div class="expert-best__wrapper">
            <div class="expert-best__item">
                <div class="expert-best__info">
                    <span class="expert-best__text item-title">only</span>
                    <span class="expert-best__percent">7.6%</span>
                </div>
                <div class="expert-best__content">
                    <span class="expert-best__category">step 1</span>
                    <h3 class="expert-best__title item-title">Best Experts</h3>
                    <p class="expert-best__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts - we only have the best,
                        rigorously selected experts
                    </p>
                </div>
            </div>
            <div class="expert-best__item">
                <div class="expert-best__info">
                    <span class="expert-best__text item-title">only</span>
                    <span class="expert-best__percent">7.6%</span>
                </div>
                <div class="expert-best__content">
                    <span class="expert-best__category">step 1</span>
                    <h3 class="expert-best__title item-title">Best Experts</h3>
                    <p class="expert-best__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts - we only have the best,
                        rigorously selected experts
                    </p>
                </div>
            </div>
            <div class="expert-best__item">
                <div class="expert-best__info">
                    <span class="expert-best__text item-title">only</span>
                    <span class="expert-best__percent">7.6%</span>
                </div>
                <div class="expert-best__content">
                    <span class="expert-best__category">step 1</span>
                    <h3 class="expert-best__title item-title">Best Experts</h3>
                    <p class="expert-best__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts - we only have the best,
                        rigorously selected experts
                    </p>
                </div>
            </div>
            <div class="expert-best__item">
                <div class="expert-best__info">
                    <span class="expert-best__text item-title">only</span>
                    <span class="expert-best__percent">7.6%</span>
                </div>
                <div class="expert-best__content">
                    <span class="expert-best__category">step 1</span>
                    <h3 class="expert-best__title item-title">Best Experts</h3>
                    <p class="expert-best__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts - we only have the best,
                        rigorously selected experts
                    </p>
                </div>
            </div>
            <div class="expert-best__item">
                <div class="expert-best__info is-icon">
                    <span class="expert-best__text item-title">only</span>
                    <span class="expert-best__percent">7.6%</span>
                </div>
                <div class="expert-best__content">
                    <span class="expert-best__category">step 1</span>
                    <h3 class="expert-best__title item-title">Best Experts</h3>
                    <p class="expert-best__paragraph paragraph">
                        Get high marks thanks to the top 2% of experts - we only have the best,
                        rigorously selected experts
                    </p>
                </div>
            </div>
        </div>
        <div class="expert-best__button">
            <p class="expert-best__button-text">
                EssayCraft is a trusted essay writing service that specializes in crafting
            </p>
            <a href="#" class="btn">Order Now</a>
        </div>
    </div>
</section>
