<section class="expert-about">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Get more. Pay less.</h2>
            <p class="title__text-small">Get one point for every dollar you spend, and enjoy fixed discounts for life</p>
        </div>
        <div class="expert-about__wrapper">
            <div class="expert-about__item">
                <div class="expert-about__picture">
                    <img src="../img/ex-ab-1.svg" alt="picture">
                </div>
                <h3 class="expert-about__title item-title">Support managers</h3>
                <p class="expert-about__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
            <div class="expert-about__item">
                <div class="expert-about__picture">
                    <img src="../img/ex-ab-2.svg" alt="picture">
                </div>
                <h3 class="expert-about__title item-title">Quality control specialists (editors and recruiters)</h3>
                <p class="expert-about__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
            <div class="expert-about__item">
                <div class="expert-about__picture">
                    <img src="../img/ex-ab-3.svg" alt="picture">
                </div>
                <h3 class="expert-about__title item-title">IT specialists</h3>
                <p class="expert-about__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
        </div>
    </div>
</section>
