<section class="expert-benefit">
    <div class="container">
        <div class="title is-primary">
            <h2 class="title__text">The Experts</h2>
            <p class="title__text-small">
                EssayCraft is a trusted essay writing service that specializes in crafting
                exceptional essays to help you
            </p>
        </div>
        <div class="expert-benefit__wrapper">
            <div class="expert-benefit__item">
                <h3 class="expert-benefit__title item-title">Nate's speakers</h3>
                <p class="expert-benefit__paragraph paragraph">Experts from the USA, the UK and Canada</p>
            </div>
            <div class="expert-benefit__item">
                <h3 class="expert-benefit__title item-title">Graduated specialists</h3>
                <p class="expert-benefit__paragraph paragraph">Master's and PhD holders</p>
            </div>
            <div class="expert-benefit__item">
                <h3 class="expert-benefit__title item-title">Experts in your field</h3>
                <p class="expert-benefit__paragraph paragraph">500+ experts across all academic disciplines</p>
            </div>
        </div>
    </div>
</section>
