<footer class="footer">
    <div class="footer__container container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer__logo">
                    <img src="../img/logo.svg" alt="logo">
                </div>
                <p class="footer__teaser">
                    Get high marks thanks to the top 2% of experts - we only have the
                    best, rigorously selected experts
                </p>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">Company</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">How It Works</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__item-link">About</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">Contact</h3>
                <div class="footer__wrapper">
                    <div class="footer__inner">
                        <p class="footer__title-link">phone</p>
                        <a href="tel:+19999999999" class="footer__link">+1 999 999 99 99</a>
                    </div>
                    <div class="footer__inner">
                        <p class="footer__title-link">email for sales</p>
                        <a href="mailto:mail@mail.com" class="footer__link">mail@mail.com</a>
                    </div>
                    <div class="footer__inner">
                        <p class="footer__title-link">email for sales</p>
                        <a href="mailto:mail@mail.com" class="footer__link">mail@mail.com</a>
                    </div>
                    <div class="footer__inner">
                        <p class="footer__title-link">email for sales</p>
                        <a href="mailto:mail@mail.com" class="footer__link">mail@mail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__column is-empty"></div>
            <div class="footer__column">
                <h3 class="footer__title">Disclamer</h3>
                <p class="footer__category">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.
                </p>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">We accepted</h3>
                <div class="footer__wrap-pay">
                    <div class="footer__payment">
                        <img src="../img/apple-pay.svg" alt="icon">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/google-psy.svg" alt="icon">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/visa.svg" alt="icon">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/mastercard.svg" alt="icon">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/amex.svg" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer__copyright-wrapper">
                <p class="footer__copyright-text">2023 © PaperWritten.com. All rights reserved</p>
                <ul class="footer__copyright-list">
                    <li class="footer__copyright-item">
                        <a href="#" class="footer__copyright-link">User Agreement</a>
                    </li>
                    <li class="footer__copyright-item">
                        <a href="#" class="footer__copyright-link">Privacy Policy</a>
                    </li>
                    <li class="footer__copyright-item">
                        <a href="#" class="footer__copyright-link">Money-Back Guarantee</a>
                    </li>
                    <li class="footer__copyright-item">
                        <a href="#" class="footer__copyright-link">Loyalty Program</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
