<section class="get-more">
    <div class="get-more__container container">
        <div class="title">
            <h2 class="title__text">Get more. Pay less.</h2>
            <p class="title__text-small">Get one point for every dollar you spend, and enjoy fixed discounts for life</p>
        </div>
        <div class="get-more__wrapper">
            <div class="get-more__item">
                <p class="get-more__percent">5%OFF</p>
                <p class="get-more__category">all-time total: 750 points</p>
            </div>
            <div class="get-more__item">
                <p class="get-more__percent">10%OFF</p>
                <p class="get-more__category">all-time total: 1500 points</p>
            </div>
            <div class="get-more__item">
                <p class="get-more__percent">15%OFF</p>
                <p class="get-more__category">all-time total: 3000 points</p>
            </div>
        </div>
    </div>
</section>
