<section class="hero-form">
    <div class="hero-form__container container">
        <div class="hero-form__content">
            <div class="title is-primary">
                <h2 class="title__text">Expert Essay Writing <span>Service</span></h2>
                <p class="title__text-small">
                    EssayCraft is a trusted essay writing service that specializes in crafting exceptional essays to
                    help you achieve academic success.
                </p>
            </div>
            <div class="hero-form__buttons">
                <a href="#" class="btn">Order Now</a>
                <a href="#" class="btn is-transparent">Order Now</a>
            </div>
            <div class="hero-form__wrap">
                <span class="hero-form__num">4,9/5</span>
                <div class="hero-form__inner">
                    <span class="hero-form__text">Review by</span>
                    <span class="hero-form__name">Sitejabber</span>
                </div>
            </div>
        </div>
        <div class="hero-form__calculator">
            <h3 class="hero-form__calculator-title item-title">Headline</h3>
            <div class="hero-form__calculator-group">
                <div class="hero-form__calculator-wrap">
                    <p class="hero-form__label">Type of service</p>
                    <div class="hero-form__select-block">
                        <div class="hero-form__custom-select">
                            <div class="hero-form__selected-item" data-selected-type="typeOfWork">Writing</div>
                            <div class="hero-form__dropdown">
                                <div class="hero-form__option" data-value="15" data-index="Writing">Writing</div>
                                <div class="hero-form__option" data-value="10" data-index="Editing">Editing</div>
                                <div class="hero-form__option" data-value="0" data-index="Other">Other</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-form__calculator-wrap">
                    <p class="hero-form__label">Purpose</p>
                    <div class="hero-form__select-block">
                        <div class="hero-form__custom-select">
                            <div class="hero-form__selected-item" data-selected-type="academicLevel">High School</div>
                            <div class="hero-form__dropdown">
                                <div class="hero-form__option" data-value="1" data-index="High School">High School</div>
                                <div class="hero-form__option" data-value="1.15" data-index="College Freshman">College Freshman</div>
                                <div class="hero-form__option" data-value="1.25" data-index="College Sophomore">College Sophomore</div>
                                <div class="hero-form__option" data-value="1.35" data-index="College Junior">College Junior</div>
                                <div class="hero-form__option" data-value="1.45" data-index="College Senior">College Senior</div>
                                <div class="hero-form__option" data-value="1.6" data-index="Master's">Master's</div>
                                <div class="hero-form__option" data-value="1.75" data-index="PhD">PhD</div>
                                <div class="hero-form__option" data-value="1.25" data-index="Business (Standard)">Business (Standard)</div>
                                <div class="hero-form__option" data-value="1.5" data-index="Business (Premium)">Business (Premium)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-form__calculator-wrap">
                    <p class="hero-form__label">Deadline</p>
                    <div class="hero-form__select-block">
                        <div class="hero-form__custom-select">
                            <div class="hero-form__selected-item" data-selected-type="urgency">15+ days</div>
                            <div class="hero-form__dropdown">
                                <div class="hero-form__option" data-value="2.225" data-index="3 hours">3 hours</div>
                                <div class="hero-form__option" data-value="2.2" data-index="9 hours">9 hours</div>
                                <div class="hero-form__option" data-value="2.1" data-index="13 hours">13 hours</div>
                                <div class="hero-form__option" data-value="1.983" data-index="1 day">1 day</div>
                                <div class="hero-form__option" data-value="1.904" data-index="2 days">2 days</div>
                                <div class="hero-form__option" data-value="1.84" data-index="3 days">3 days</div>
                                <div class="hero-form__option" data-value="1.69" data-index="4 days">4 days</div>
                                <div class="hero-form__option" data-value="1.56" data-index="5 days">5 days</div>
                                <div class="hero-form__option" data-value="1.46" data-index="7 days">7 days</div>
                                <div class="hero-form__option" data-value="1.39" data-index="9 days">9 days</div>
                                <div class="hero-form__option" data-value="1.25" data-index="11 days">11 days</div>
                                <div class="hero-form__option" data-value="1.17" data-index="15+ days">15+ days</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-form__result">
                <div class="hero-form__info">
                    <p class="hero-form__sum">$X.xx </p>
                    <p class="hero-form__sum-text">per 100 words</p>
                </div>
                <a href="#" class="btn is-small">Order Now</a>
            </div>
        </div>
    </div>
</section>
