<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <div class="title is-primary">
                <h2 class="title__text">Expert Essay Writing <span>Service</span></h2>
                <p class="title__text-small">
                    EssayCraft is a trusted essay writing service that specializes in crafting exceptional essays to
                    help you achieve academic success.
                </p>
            </div>
            <div class="hero__buttons">
                <a href="#" class="btn">Order Now</a>
                <a href="#" class="btn is-transparent">Order Now</a>
            </div>
        </div>
        <div class="hero__picture">
            <img src="../img/hero.png" alt="picture">
            <div class="hero__wrap is-left">
                <span class="hero__num">2k</span>
                <span class="hero__text">Reviews</span>
            </div>
            <div class="hero__wrap is-right">
                <span class="hero__num">4,9/5</span>
                <div class="hero__inner">
                    <span class="hero__text">Review by</span>
                    <span class="hero__name">Sitejabber</span>
                </div>
            </div>
        </div>
    </div>
</section>
