<section class="post">
    <div class="post__wrapper">
        <h3 class="post__title">Recent Posts</h3>
        <ul class="post__list">
            <li class="post__item">
                <a href="#" class="post__link">
                    210 Exceptional Position Paper Topics That Will Convince Anyone
                </a>
            </li>
            <li class="post__item">
                <a href="#" class="post__link">
                    How To Write An Outline: A Step-by-Step Guide
                </a>
            </li>
            <li class="post__item">
                <a href="#" class="post__link">
                    Types Of Essays: Complete Guide To Help You Navigate
                </a>
            </li>
            <li class="post__item">
                <a href="#" class="post__link">
                    What Is A Thesis Defense? Defending Dissertation
                </a>
            </li>
            <li class="post__item">
                <a href="#" class="post__link">
                    How To Write Autobiography: Best Guide For Any Student
                </a>
            </li>
        </ul>
    </div>
</section>
