<section class="pre-footer">
    <div class="pre-footer__container container">
        <div class="pre-footer__wrapper">
            <div class="pre-footer__content">
                <div class="title">
                    <h2 class="title__text">Expert Essay Writing</h2>
                    <p class="title__text-small">
                        EssayCraft is a trusted essay writing service that specializes in crafting exceptional essays to
                    </p>
                </div>
                <a href="#" class="btn">Button</a>
            </div>
        </div>
    </div>
</section>
