<section class="profi">
    <div class="container">
        <div class="profi__wrapper">
            <div class="profi__item">
                <h3 class="profi__title item-title">Best Experts</h3>
                <ul class="profi__list">
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                </ul>
            </div>
            <div class="profi__item">
                <h3 class="profi__title item-title">Best Experts</h3>
                <ul class="profi__list">
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                </ul>
            </div>
            <div class="profi__item">
                <h3 class="profi__title item-title">Best Experts</h3>
                <ul class="profi__list">
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                    <li class="profi__elem">Get high marks thanks</li>
                </ul>
            </div>
        </div>
    </div>
</section>
