<section class="review">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Experience Academic</h2>
            <div class="title__logo-group">
                <img src="../img/review-logo-1.svg" alt="logo">
                <img src="../img/review-logo-2.svg" alt="logo">
            </div>
        </div>
    </div>
    <div class="review__slider">
        <div class="review__swiper-pagination swiper-pagination"></div>
        <div class="review__slider-container swiper-container">
            <div class="review__wrapper swiper-wrapper" id="reviewWrapper">

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-magenta">
                            <img src="../img/smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-yellow">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-green">
                            <img src="../img/cat-smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-blue">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-pink">
                            <img src="../img/wink.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-green">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-green">
                            <img src="../img/cat-smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-blue">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-pink">
                            <img src="../img/wink.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-green">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-magenta">
                            <img src="../img/smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-yellow">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-green">
                            <img src="../img/cat-smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-blue">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-pink">
                            <img src="../img/wink.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-green">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-green">
                            <img src="../img/cat-smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-blue">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-pink">
                            <img src="../img/wink.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-green">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                        <div class="review__picture is-magenta">
                            <img src="../img/smile.svg" alt="smile">
                        </div>
                        <div class="review__info-wrap">
                            <div class="review__info-inner">
                                <p class="review__name">Eric Jackson</p>
                                <span class="review__logo">
                                    <img src="../img/verify.svg" alt="verify">
                                </span>
                            </div>
                            <span class="review__rating">
                                <img src="../img/rating-star.svg" alt="rating">
                            </span>
                        </div>
                    </div>
                    <div class="review__content">
                        <p class="review__category">
                            Thank you so much! I am very impressed, there were a lot of areas in my original paper
                            where I was not sure what I could do differently. I greatly appreciate all of your help
                            and I hope to work with you again in the future!
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__route is-yellow">Business and Management</span>
                        <span class="review__date">30 Jul 2020</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
