<section class="service-block">
    <div class="service-block__container container">
        <div class="title is-primary">
            <h2 class="title__text">Services</h2>
            <p class="title__text-small">
                EssayCraft is a trusted essay writing service that specializes in crafting
                exceptional essays to help you
            </p>
        </div>
        <div class="service-block__wrapper">
            <div class="service-block__item">
                <div class="service-block__picture">
                    <img src="../img/service-1.svg" alt="picture">
                </div>
                <div class="service-block__content">
                    <h3 class="service-block__title item-title">Papers</h3>
                    <p class="service-block__category">
                        Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                    </p>
                    <div class="service-block__buttons">
                        <a href="#" class="btn is-small">Order Now</a>
                        <a href="#" class="btn is-no-border is-custom">Watch Sample</a>
                    </div>
                </div>
            </div>
            <div class="service-block__item">
                <div class="service-block__picture">
                    <img src="../img/service-2.svg" alt="picture">
                </div>
                <div class="service-block__content">
                    <h3 class="service-block__title item-title">Presentations</h3>
                    <p class="service-block__category">
                        Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                    </p>
                    <div class="service-block__buttons">
                        <a href="#" class="btn is-small">Order Now</a>
                        <a href="#" class="btn is-no-border is-custom">Watch Sample</a>
                    </div>
                </div>
            </div>
            <div class="service-block__item">
                <div class="service-block__picture">
                    <img src="../img/service-3.svg" alt="picture">
                </div>
                <div class="service-block__content">
                    <h3 class="service-block__title item-title">Thesis Projects</h3>
                    <p class="service-block__category">
                        Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                    </p>
                    <div class="service-block__buttons">
                        <a href="#" class="btn is-small">Order Now</a>
                        <a href="#" class="btn is-no-border is-custom">Watch Sample</a>
                    </div>
                </div>
            </div>
            <div class="service-block__item">
                <div class="service-block__picture">
                    <img src="../img/service-4.svg" alt="picture">
                </div>
                <div class="service-block__content">
                    <h3 class="service-block__title item-title">Something Else</h3>
                    <p class="service-block__category">
                        Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                    </p>
                    <div class="service-block__buttons">
                        <a href="#" class="btn is-small">Order Now</a>
                        <a href="#" class="btn is-no-border is-custom">Watch Sample</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
