<section class="section side-list">
    <div class="container">
        <div class="side-list__wrapper">
            <div class="side-list__content-wrapper">
                <div class="side-list__content">
                    <div class="side-list__stub">
                        <h2 class="side-list__title item-title">Aenean massa</h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                        </p>
                        <div class="side-list__banner">
                            <p class="side-list__banner-title">Aenean massa</p>
                            <a href="#" class="btn is-transparent is-small">Button</a>
                        </div>
                        <p class="side-list__paragraph paragraph">
                            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
                            semper libero, sit amet adipiscing sem neque sed ipsum.
                        </p>
                    </div>
                    <div class="side-list__inner">
                        <h2 class="side-list__title item-title">Strategies for Success</h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aut eius est eum exercitationem iste itaque minus nemo, nesciunt nostrum odit
                            porro qui, quidem quis quisquam rem temporibus vitae, voluptatibus. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Accusantium aut eius est eum exercitationem iste
                            itaque minus nemo, nesciunt nostrum odit porro qui, quidem quis quisquam rem
                            temporibus vitae, voluptatibus.
                        </p>
                    </div>
                    <div class="side-list__inner">
                        <h2 class="side-list__title item-title">
                            Unleash Your Writing Potential
                        </h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aut eius est eum exercitationem iste itaque minus nemo, nesciunt nostrum odit
                            porro qui, quidem quis quisquam rem temporibus vitae, voluptatibus. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Accusantium aut eius est eum exercitationem iste
                            itaque minus nemo, nesciunt nostrum odit porro qui, quidem quis quisquam rem
                            temporibus vitae, voluptatibus.
                        </p>
                    </div>
                    <div class="side-list__inner">
                        <h2 class="side-list__title item-title">
                            Step-by-Step Techniques
                        </h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aut eius est eum exercitationem iste itaque minus nemo, nesciunt nostrum odit
                            porro qui, quidem quis quisquam rem temporibus vitae, voluptatibus. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Accusantium aut eius est eum exercitationem iste
                            itaque minus nemo, nesciunt nostrum odit porro qui, quidem quis quisquam rem
                            temporibus vitae, voluptatibus.
                        </p>
                    </div>
                    <div class="side-list__inner">
                        <h2 class="side-list__title item-title">
                            Secrets of Academic Writing
                        </h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aut eius est eum exercitationem iste itaque minus nemo, nesciunt nostrum odit
                            porro qui, quidem quis quisquam rem temporibus vitae, voluptatibus. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Accusantium aut eius est eum exercitationem iste
                            itaque minus nemo, nesciunt nostrum odit porro qui, quidem quis quisquam rem
                            temporibus vitae, voluptatibus.
                        </p>
                    </div>
                    <div class="side-list__inner">
                        <h2 class="side-list__title item-title">Proven Methods for Success</h2>
                        <p class="side-list__paragraph paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aut eius est eum exercitationem iste itaque minus nemo, nesciunt nostrum odit
                            porro qui, quidem quis quisquam rem temporibus vitae, voluptatibus. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Accusantium aut eius est eum exercitationem iste
                            itaque minus nemo, nesciunt nostrum odit porro qui, quidem quis quisquam rem
                            temporibus vitae, voluptatibus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
