<section class="work">
    <div class="container">
        <div class="title is-primary">
            <h2 class="title__text">How It Works</h2>
            <p class="title__text-small">
                EssayCraft is a trusted essay writing service that specializes in crafting exceptional essays
                to help you achieve academic success.
            </p>
        </div>
        <div class="work__wrapper">
            <div class="work__item is-first">
                <span class="work__num">1</span>
                <h3 class="work__title item-title">Order</h3>
                <div class="work__picture">
                    <img src="../img/work-1.png" alt="picture">
                </div>
                <p class="work__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
            <div class="work__item is-second">
                <span class="work__num">2</span>
                <h3 class="work__title item-title">Writting</h3>
                <div class="work__picture">
                    <img src="../img/work-2.png" alt="picture">
                </div>
                <p class="work__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
            <div class="work__item is-third">
                <span class="work__num">3</span>
                <h3 class="work__title item-title">Complete</h3>
                <div class="work__picture">
                    <img src="../img/work-3.png" alt="picture">
                </div>
                <p class="work__paragraph paragraph">
                    Get high marks thanks to the top 2% of experts - we only have the best, rigorously selected experts
                </p>
            </div>
        </div>
    </div>
</section>
